name: Formatter and Linter
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

jobs:
  ruff:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: astral-sh/ruff-action@v3
        with:
          version: "0.12.9"
      - run: "ruff format --check --diff"
      - run: "ruff check"
